/* Navbar styles */
.navbar {
  background-color: #232f3e;
  color: #fff;
}

/* products styles */
.products {
  padding: 40px 0;
}
.product {
  text-align: center;
}
.product_img {
  width: 70%;
  margin: auto;
}
.product_name {
  padding-top: 10px;
  font-size: 20px;
}
.product_img img {
  width: 80%;
}
.product_price {
  color: #555;
  font-size: 18px;
}
.product_desc {
  height: 50px;
  overflow: hidden;
}
.rating svg {
  font-size: 21px;
  color: #f9c62f;
}
.rating .rating_views {
  font-size: 14px;
  margin-left: 10px;
  color: #404040;
}

/* ProductDetails  */
.product_details_img {
  width: 100%;
}
.product_details_img img {
  width: 100%;
  margin: auto;
}
.product_details_info p span {
  font-weight: 500;
  color: #555;
}
.product_details_cart {
  border: 2px solid #c3c0c0;
  padding: 8px;
  background-color: #efefef;
  border-radius: 8px;
}
.card_product_price,
.card_product_status {
  display: flex;
  padding: 0 !important;
  justify-content: space-between;
}
.btn_addToCart {
  display: block !important;
  margin: 10px auto !important;
}
.success {
  color: #20a020;
}
.error {
  color: #a02020;
}

/* LoadingBox */
.lds-roller {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: auto;
  top: calc(100vh - 440px);
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #555;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
