/* Navbar styles */
.navbar {
  background-color: #232f3e;
  color: #fff;
}

/* products styles */
.products {
  padding: 40px 0;
}
.product {
  text-align: center;
}
.product_img {
  width: 70%;
  margin: auto;
}
.product_name {
  padding-top: 10px;
  font-size: 20px;
}
.product_img img {
  width: 80%;
}
.product_price {
  color: #555;
  font-size: 18px;
}
.product_desc {
  height: 50px;
  overflow: hidden;
}
.rating {
}
.rating svg {
  font-size: 21px;
  color: #f9c62f;
}
.rating .rating_views {
  font-size: 14px;
  margin-left: 10px;
  color: #404040;
}

/* ProductDetails  */
.product_details_cart {
  padding: 8px;
  background-color: #ccc;
  border-radius: 8px;
}
.card_product_price,
.card_product_status {
  display: flex;
  padding: 0 !important;
  justify-content: space-between;
}
.btn_addToCart {
  display: block !important;
  margin: 10px auto !important;
}
.success {
  color: #20a020;
}
.error {
  color: #a02020;
}
